.game_wrapper {
  display: flex;
  flex-flow: column;
  width: 50rem;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (max-width: 45rem) {
  .game_wrapper {
    width: 100%;
  }
}